<!DOCTYPE html>
<html layout:decorator="admin/shared/masterlayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header">
		<span style="float:right;" class="text-muted">Logged in as: testmail@company.com</span>
		<br>
		<a class="btn btn-outline-success" style="float:right" href="/company/page/underconstruction">LOG OUT</a>
		<a class="btn btn-outline-success" style="float:right" href="/company/page/underconstruction">Manage Your Account</a>
		<a class="btn btn-outline-success" style="float:left" href="/company/admin/home">ADMIN HOME</a>
		<br/><br/>
		<hr style = "background:green">
	</th:block>
    <th:block layout:fragment="content">
    	<a>ADDRESSES</a>
		<a style="float:right;" href="/company/user/addresses/add">ADD NEW ADDRESS</a>
		<br></br>
    	<table class="table table-striped">
			<thead>
				<th scope="col">No.</th>
				<th>Street Line 1</th>
				<th>Street Line 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip Code</th>
				<th>Country</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<tr th:each="address, rowNumbering : ${addresses}">
					<td scope="row" th:text="${rowNumbering.count}+'.'"></td>
					<td th:text="${address.streetLine1}"></td>
					<td th:text="${address.streetLine2}"></td>
					<td th:text="${address.city}"></td>
					<td th:text="${address.state}"></td>
					<td th:text="${address.zipcode}"></td>
					<td th:text="${address.country}"></td>
					<td>
						<a th:href="@{'/company/user/addresses/edit/' + ${address.addressId}}" class="btn btn-outline-success">Edit</a>
						<a th:href="@{'/company/user/addresses/delete/' + ${address.addressId}}" class="btn btn-outline-warning">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
    </th:block>
    <th:block layout:fragment="footer"></th:block>
</body>
</html>