<!DOCTYPE html>
<html layout:decorator="public/shared/masterlayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header"></th:block>
    <th:block layout:fragment="content">
    			<h3>BOOKING FORM</h3>
    	<form id="bookingForm" method="post" action="/company/public/bookings/addnew/save/" th:object="${booking}">
    		<fieldset>
    			<!-- <input type="hidden" name="categoryId" th:value="${category.categoryId}"/> -->
    			<input type="hidden" name="bookingId" th:value="${booking.bookingId}"/>
                <div class="container" style="margin-top: 1em;">
                   	<div class="row">
               			<div class="col-md-3">               			
			                <div class="form-group">               
								<label for="referenceNumber">Reference Number</label>
			                    <span th:if="${#fields.hasErrors('referenceNumber')}" th:errors="*{referenceNumber}" class="alert alert-danger"></span>
			                    <input id="referenceNumber" name="referenceNumber" type="text" class="form-control" th:value="${booking.referenceNumber}" readonly>              
			                </div>
			             </div>
			             <div class="col-md-3">   
			                <div class="form-group">               
								<label for="bookingDate">Booking Date</label>
			                    <span th:if="${#fields.hasErrors('bookingDate')}" th:errors="*{bookingDate}" class="alert alert-danger"></span>
			                    <input id="bookingDate" name="bookingDate" type="date" class="form-control" aria-describedby="bookingDatehHelp" th:value="${booking.bookingDate}" readonly>
			                </div>  
			       		</div>
			       		<div class="col-md-3">                
                			<div class="form-group">               
								<label for="startDate">Start Date</label>
			                    <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="alert alert-danger"></span>
			                    <input id="startDate" name="startDate" type="date" class="form-control" aria-describedby="startDatehHelp" th:value="${booking.startDate}" readOnly>             
<!-- 			               		<small id="startDateHelp" class="form-text text-muted">Enter a valid Date.</small>
 -->			                </div>
			            </div> 
			            <div class="col-md-3">    
			                <div class="form-group">               
								<label for="endDate">End Date</label>
			                    <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="alert alert-danger"></span>
			                    <input id="endDate" name="endDate" type="date" class="form-control" aria-describedby="endDatehHelp" th:value="${booking.endDate}" readonly>             
<!-- 			               		<small id="endDateHelp" class="form-text text-muted">Enter a valid Date.</small>
 -->			                </div>
	                 	</div>
	                 	
	                 	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="firstName">First Name</label>
			                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger"></span>
			                    <input id="firstName" name="firstName" type="text" class="form-control" th:value="${booking.firstName}">             
			                </div>
	                	</div>
	                	
	                	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="lastName">Last Name</label>
			                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"></span>
			                    <input id="lastName" name="lastName" type="text" class="form-control" th:value="${booking.lastName}">             
			                </div>
	                	</div>
	                	
	                	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="dateOfBirth">Date of Birth</label>
			                    <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="alert alert-danger"></span>
			                    <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" th:value="${booking.dateOfBirth}">             
			                </div>
	                	</div>
	                	
	                	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="licenseNumber">Driving License Number</label>
			                    <span th:if="${#fields.hasErrors('licenseNumber')}" th:errors="*{licenseNumber}" class="alert alert-danger"></span>
			                    <input id="licenseNumber" name="licenseNumber" type="text" class="form-control" th:value="${booking.licenseNumber}">             
			                </div>
	                	</div>
	                	
	                	<div class="col-md-6">
		                	<div class="form-group">               
								<label for="email">Email Address</label>
			                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></span>
			                    <input id="email" name="email" type="email" class="form-control" th:value="${booking.email}">             
			                </div>
	                	</div>
	                	<div class="col-md-3" style="float=right">
		                	<div class="form-group">               
								<label for="totalPrice">YOUR BOOKING TOTAL</label>
			                    <span th:if="${#fields.hasErrors('totalPrice')}" th:errors="*{totalPrice}" class="alert alert-danger"></span>
			                    <input id="totalPrice" name="totalPrice" type="text" class="form-control" th:value="${booking.totalPrice}" readonly>             
			                </div>
	                	</div>         
			    	</div>
		    	</div>
		    	<div style="float:right;">
		    		<button id="btnSubmit" type="submit" class="btn btn-outline-success">CONFIRM BOOKING</button>
                    <a href="/company/page/underconstruction" class="btn btn-outline-warning">Pay Now</a>&nbsp;&nbsp;&nbsp;
                    <small id="bookingHelp" class="form-text text-muted">PAY AT PICKUP</small>
                </div>
    		</fieldset>
        </form>
    </th:block>
    <th:block layout:fragment="footer"></th:block>
</body>
</html>