<!DOCTYPE html>
<html layout:decorator="public/shared/masterlayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header">
		<div class="col-xs-4 text-center">
			<h1>Your Booking Is Confirmed</h1>	
		</div>
	</th:block>
    <th:block layout:fragment="content">
    	<div class="col-xs-4 text-center">
    		<h1>Thank You For Choosing Company</h1>
    		<a>A confirmation email has been sent to eample123@gmail.com with your booking reference number</a>
    		<br></br>
    	</div>
    	<!-- <table class="table table-white">
			<thead>				
				<th>Your Booking Reference Number</th>	
			</thead>
			<tbody>
				<tr th:object= ${booking}>
					<td th:text="${booking.bookingNumber}"></td>
				</tr>
			</tbody>
		</table> -->
		<div class="col-xs-4 text-center">
			<a th:href="@{'/company/home'}" class="btn btn-outline-success" th:align = center>EXIT (PAY AT PICKUP)</a>
			<br></br>
	        <a th:href="@{'/company/page/underconstruction'}" class="btn btn-outline-warning" th:align = center>MAKE PAYMENT NOW</a>        
    	</div>
    </th:block>
    <th:block layout:fragment="footer"></th:block>
</body>
</html>